@import 'reset.scss';
@import 'block.scss';
@import 'mixins.scss';
@import 'libs.min.scss';

.header {
    background-color: #1f1f1f;
    padding-bottom: 100px;
    position: relative;
    .header__top {
        padding-top: 60px;
        @include f-center-between;
    }
    &--disabled::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffde00;
        z-index: 2;
        opacity: 0.55;
    }
}
.header__nav {
    position: relative;
    clear: both;
    float: none;
    overflow: hidden;
    z-index: 3;
        
    .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 50px;
        height: 50px;
        background-color: #ffde00;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }
    .header__nav-list {
        @include if-center-unset;
        height: 50px;
        position: relative;
        float: right;
        top: 0;
        right: -1000px;
        background-color: #282828;
        padding-left: 46px;
        padding-right: 50px;
        z-index: 1;
        transition: right 0.3s;
        &--active {
            right: 0;
        }
    }
    .nav-list__item {
        display: inline;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        color: #828282;
        margin-right: 46px;
        &:hover {
            color: #fff;
        }
    }
}
.header__slider {
    margin-top: 175px;
    .header-slide__p{
        color: #b0b0b0;
        max-width: 800px;
        margin-top: 20px;
        line-height: 26px;
    }
    .header__link {
        margin-top: 65px;
    }
    .slick-dots {
        position: absolute;
        right: 0;
        left: 0;
        bottom: -40px;
        margin: 0 auto;
        width: 150px;
        @include f-center-between;
        .slick-active button::before {
            background-color: #ffde00;
            color: #ffde00;
        }
        button {
            font-size: 0;
        }
        button::before{
            content: '';
            display: inline-block;
            width: 38px;
            height: 7px;
            color: #a7a7a7;
            background-color: transparent;
            border: 1px solid;
            transition: background-color 0.25s;
        }
    }
}

.about__top {
    text-align: center;
    padding: 50px 0 35px;
    .about__headline {
        margin-top: 135px;
    }
    .about__p {
        margin-top: 44px;
    }
}
.about__bottom {
    padding: 30px 0 150px;
    background-color: #f5f5f5;
    .about-column__row {
        @include f-unset-between;
    }
    
}
.column-item {
    display: inline-block;
    max-width: 420px;
    vertical-align: top;
    margin: 40px;
    &:hover .column-item__depiction {
        background-color: #ffde00;
        color: #ffde00;
    }
    &:hover .column-item__headline {
        color: #ffde00;
    }
}
.column-item__depiction {
    display: inline-block;
    transition: background-color 0.22s;
    margin-right: 13px;
    width: 99px;
    height: 99px;
    border: 1px solid;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
.column-item__description {
    display: inline-block;
    max-width: 300px;
    vertical-align: top;
    .column-item__headline {
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        transition: color 0.22s;
        line-height: 19px;
        font-weight: 900;
        font-size: 24px;
        color: #343434;
    }
    .column-item__p {
        margin-top: 7px;
        font-size: 14px;
        line-height: 26px;
        color: #686868;
    }
}

.excerpt {
    background-color: #252525;
    padding: 40px 0 150px;
    text-align: center;
    .excerpt__headline {
        margin-top: 33px;
    }
    .excerpt__p {
        margin-top: 15px;
        font-size: 16px;
        line-height: 27px;
        letter-spacing: 0.06em;
        color: #717171;
    }
}

.contact__top {
    text-align: center;
    padding: 120px 0 100px;
    .contact__headline {
        margin-top: 30px;
    }
    .contact__p {
        margin-top: 20px;
        font-size: 17px;
        line-height: 26px;
        color: #828282;
    }
}
.contact__form {
    margin: 120px 0 125px;
    .contact-form__row {
        @include f-center-between;
    }
    .contact__input {
        @include if-center-unset;
        height: 70px;
        min-width: 320px;
        padding: 0 15px;
    }
    .contact-form__message {
        width: 100%;
        height: 200px;
        resize: none;
        margin-top: 40px;
        padding: 35px 18px;
        box-sizing: border-box;
    }
    .form-item__submit {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto 0;
        min-width: 300px;
        padding: 0 30px;
        height: 60px;
        font-family: 'Open Sans', sans-serif;
        font-size: 17px;
        font-weight: 300;
        text-transform: uppercase;
        background-color: #ffde00;
        letter-spacing: 0.06em;
        color: #535353;
        border: none;
        cursor: pointer;
    }
}